.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 20px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 10px 0px;
  align: center;
}
.navbar-default {
  color: #ffffff;
}
.navbar-default .navbar-nav> .active> a {
  background: #d3d4d5;
  color: #082234;
}
.navbar-default .navbar-nav> .active> a:hover {
  background: #d3d4d5;
  color: #082234;
}
.navbar-default .navbar-nav> .active> a:focus {
  background: #d3d4d5;
  color: #082234;
}
.navbar-default .navbar-nav> .open> a {
  background: #d3d4d5;
  color: #082234;
}
.navbar-default .navbar-nav> .open> a:hover {
  background: #d3d4d5;
  color: #082234;
}
.navbar-default .navbar-nav> .open> a:focus {
  background: #d3d4d5;
  color: #082234;
}
